.input_successful {
  border-color: rgb(72, 67, 167);
  border-radius: 5px;
  resize: none;
  outline: none;
}

.input_error {
  border-color: red;
}

.text_error {
  text-align: center;
  font-size: 9px;
  font-weight: bold;
  color: red;
}
