.setting {
  padding: 40px;
  margin-bottom: 15px;
}

hr {
  margin: 25px 0;
}

.setting_avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.setting_avatar_wrapper {
  margin: 0 auto;
}

.setting_avatar_load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 0px 8px;

  height: 35px;
  background: rgb(72, 67, 167);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.setting_avatar_file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.setting_avatar_img {
  border-right: 1px solid #fff;
  margin-right: 5px;
  padding-right: 7px;
}

.setting_avatar_succes {
  color: red;
  margin-top: 4px;
  position: absolute;
  left: 52%;
}
