.friendsProfile {
  border-left: 2px solid rgb(174, 166, 166);
  text-align: center;
  padding: 7px;
}

.friendsProfile:hover {
  background: #e2dada;
}

.friendsProfile_link {
  cursor: pointer;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.friendsProfile_link_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
