.friends {
  grid-area: friends;
  height: 200px;
  padding: 5px 15px 0;
}

.friends_title_link {
  font-weight: bold;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.friends_title:hover {
  background: #f7f4f4;
}

.profiles {
  display: grid;
  grid-template-areas: 'profile profile' 'profile profile';
  grid-template-rows: repeat(2, 70px);
  grid-template-columns: repeat(2, 60px);
  grid-gap: 10px;

  margin-top: 15px;
}
