.header {
  grid-area: header;
  background-color: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;

  width: 100%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header_logo {
  margin: 5px;
  cursor: pointer;
}

.header_accordion {
  z-index: 1;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.header_accordion:hover {
  background: #f7f4f4;
}

.header_accordion_auth_block {
  list-style: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin: 0 5px;
}

.header_accordion_auth_name {
  font-size: 14px;
}

.header_accordion_auth_avatar {
  margin: 4px 7px;
}

.header_accordion_auth_arrow {
  font-size: 14px;
  margin-right: 3px;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.header_accordion_exit {
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  padding: 4px 10px;

  background: rgb(255, 255, 255);

  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.header_accordion_exitLink {
  margin-left: 5px;
  text-decoration: none;
  color: #000;
}
