.nav {
  grid-area: navBar;
}

.ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.li {
  margin: 5px;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}

.link_disabled {
  pointer-events: none;
}

.activeLink {
  color: brown;
}

.li img {
  margin-right: 10px;
}
