.login_wrapper {
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@font-face {
  font-family: 'Marutya';
  src: url('../../fonts/Marutya.ttf') format('truetype');
}

.login_wrapper_logo {
  text-align: center;
  margin-top: 40px;
}

.login_wrapper_logo_text {
  font-family: 'Marutya';
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
}

.login_wrapper_form {
  width: 300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.login_wrapper_form_top {
  margin-top: 60px;
}

.login_wrapper_form_field {
  margin-top: 10px;
}

.login_wrapper_form_error {
  color: red;

  border: 2px red solid;
  border-radius: 2%;
  padding: 15px;
  position: absolute;
  top: 210px;
}

.login_wrapper_form_lbl {
  font-size: 10px;
}

.login_wrapper_form_input {
  padding: 10px;
  border: 1px solid rgb(72, 67, 167);
  border-radius: 4px;
  width: 170px;
}

.login_wrapper_form_saveMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin-top: 15px;
}

.login_wrapper_form_saveMe_label {
  font-size: 12px;
  margin-left: 5px;
  cursor: pointer;
}

.login_wrapper_form_btn {
  margin-top: 20px;

  border-radius: 8px;
  padding: 6px 9px;

  background: rgb(72, 67, 167);
  border-color: white;
  color: white;
  outline: none;

  cursor: pointer;
}

.login_wrapper_form_input_captcha {
  width: 100px;
}
